---

export interface Props { 

}

---

<section class="static flex flex-row mt-12">
    <div class="relative flex flex-col box-border: m-32">
        <h2 class="text-4xl font-bold mb-4">About Me</h2>
        <p class=" text-gray-700 text-pretty text-overflow-ellipsis ">
            A passionate developer loves writing Rust and focus on writing high performance, 
            scalable and secure applications, fan of low level programming, and loves concurrent programming.
        </p>

    </div>

    <h2 class="relative right-14 top-35 pos:center text-2xl font-bold mb-4"> dfadsf </h2>

</section>